{% extends 'base.html' %}

{% block content %}
	<div class="row">
		<div class="col-md-4" align="center">
			<h3>Leads</h3>
		</div>
 	</div>
	  <div class="row marketing">

	    <div class="jumbotron">

	      <h4>{{contents.text}}</h4>
	      <div class="clearfix" style="height: 10px;"></div>
	      <p class="btn btn-default"><a href="{{contents.url}}">link</a></p>
	      <div class="clearfix" style="height: 10px;"></div>
	      <h3>{{contents.realiblity}}</h3>
	  </div>
    </div>

{% endblock %}